.dropzone
{
    transition: .5s;
    margin: 0 auto;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 2px white dashed;
    padding: 25px;
}
button
{
    padding: 10px;
}
.animate
{
    transition: .5s;
    padding: 50px;
    border: 2px lightblue dashed;
    color: lightblue;
}
.animateFont
{
    transition: .5s;
    color: lightblue;
}
.fontGone
{
    transition: .5s;
    display: none;
}