.dropzone
{
    margin: 0 auto;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 2px white dashed;
    padding: 20px;
}
button
{
    padding: 10px;
}