.modal-overlay 
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal 
{
  background: #444;
  color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 100px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nameInput
{
  color: #f5f5f5;
  border: none;
  border-bottom: 2px #808080 solid;
  outline: none;
  transition: .1s;
  height: 30px;
  font-size: 15px;
  text-align: center;

  &:focus {
    border: none;
    border-bottom: #007bff 2px solid; 
    padding: 0 5px;
  }
}
button
{
  font-size: 15px;
  color: #eee;
  transition: .05s;

  &:hover
  {
    transform: scale(1.05);
  }
}
.modal-actions 
{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.renameDelButton
{
  padding: 10px;
  background-color: #92A8D1;
  border-radius: 5px;
  border: none;
  margin-left: 20px;
}
.cancelRenameDelButton
{
  padding: 10px;
  background-color: #FF6F61;
  border-radius: 5px;
  border: none;
  margin-right: 20px;

}
