*
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

$appBackground: #333;
$fontColor: #ddd;
$text-highlight: #6B5B95;
$btn-color: #FF6F61;

$red: #FF0000;


body
{
  background-color: $appBackground;
  text-align: center;
}
h1
{
  color: $fontColor;
  font-weight: normal;
}
.login_form
{
  background-color: aqua;
}
.register_form
{
  background-color: aquamarine;
}
.redirect_bttn
{
  cursor: pointer;
  text-decoration: underline;
  color: $text-highlight;
}
.login_form, .register_form
{
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background-color: #444;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

}

.nameInput, .passwordInput
{
  color: #eee;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background: none;
  outline: none;
  width: 90%;
  font-size: 16px;
  transition: .1s linear;

  &:focus {
    border-bottom-color: #007bff; 
    padding: 5px;
  }

  &::placeholder {
    color: #aaa;
  }
}

.submitBtn
{
  border: none;
  background-color: $btn-color;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  color: #222;

  cursor: pointer;
}